{% extends 'core/base.html' %}

{% block title %}
Contacto
{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Actualmente, estoy en búsqueda de oportunidades laborales en el ámbito de análisis de datos, ciencia de datos o programación backend. Mi objetivo es formar parte de un equipo donde pueda aplicar mis conocimientos en el manejo y análisis de datos, el desarrollo de soluciones basadas en machine learning y la creación de sistemas backend eficientes. Estoy motivado por los desafíos técnicos y comprometido con el aprendizaje continuo para aportar valor a la organización que me brinde la oportunidad.</p>
        <br>
        <p><b>Teléfono:</b> 11 7098-0780</p>
        <p><b>Mail:</b> agustinetchegoyen7@gmail.com</p>
        <p><b>Honorarios:</b> 20$/h</p>
    </div>
</div>    
{% endblock %}